@import 'boxicons/css/boxicons.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary: #e1193e;
    --secondary: #0d6efd;
}

.carousel {
    opacity: 1;
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-item img {
    max-height: 700px;
    max-width: 100%;
}

.carousel-caption {
    padding: 20px;
    position: absolute;
    color: white;
    text-align: center;
}

.carousel-caption h3 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    color: white;
}

.carousel-caption p {
    font-size: 16px;
    margin-bottom: 20px;
    color: lightgray;
}

.carousel-caption .icon-link {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 2px solid var(--primary);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.8s;
}

.carousel-caption .icon-link i {
    color: white;
}

.carousel-caption .icon-link:hover {
    background-color: var(--primary);
    color: white;
    text-decoration: none;
}


@media (max-width: 798px) {
    .carousel-caption h3 {
        font-size: 35px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    .carousel-caption .icon-link {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h3 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .carousel-caption .icon-link {
        font-size: 14px;
        padding: 6px 12px;
    }
}
