:root {
  --primary: #e1193e;
  --secondary: #0d6efd;
}

.classes-container {
  text-align: center;
  padding: 4rem 2rem;
}

h2 {
  color: var(--primary);
  margin: 3rem 0;
}

p {
  font-size: 30px;
  margin-bottom: 4rem;
}

.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  margin: 0 4rem;
  justify-content: center;
  align-items: start;
}

.classes-card {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;
}

.classes-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.classes-card p,
.classes-card h3 {
  margin-bottom: 1rem;
}

.classes-card p {
  font-size: 12px;
}

.classes-card:hover img {
  transform: scale(1.1);
}

.classes-card button {
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.classes-card:hover button {
  background-color: var(--primary);
  color: white;
}

.classes-card:hover {
  transform: scale(1.05);
  border: 4px solid var(--secondary);
  /* background: #0d6efd; */
}

.classes-card:hover p {
  color: black;
}

.hover-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  z-index: 1; /* Ensure the button is on top of other elements */
  opacity: 0; /* Set initial opacity to 0 to hide the button */
  transition: opacity 0.2s ease-in-out; /* Add a smooth fade-in transition */
}

.classes-card:hover .hover-button {
  opacity: 1; /* Show the button with full opacity when hovering over the card */
}